<h1>Companies#show</h1>

<h2>Fiche entreprise</h2>
<ul>
    <li>
    <span>Nom de l'entreprise: </span> 
    <%= @company.name %>
    </li>

    <li>
    <span>Email: </span> 
    <%= @company.email %>
    </li>
</ul>
 
             
       
